<IfModule mod_rewrite.c>
    RewriteEngine On
    # If the requested file or directory does not exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    # Rewrite to add .php extension
    RewriteRule ^([^/]+)/?$ $1.php [L]
</IfModule>
